.product-block {
    border: 1px solid #e0e0e0;
    background: #fff;
    border-radius: 25px;
}

.product-block__image {
    height: 176px;
    min-height: 176px;
    position: relative;
}

.product-block__image img {
    max-height: 176px;
    border-radius: 15px;
    height: 100%;
    width: 100%;
}